os: linux
dist: focal
group: edge
language: python
env: 
  - COSIGN_EXPERIMENTAL=1
  - COSIGN_PASSWORD="${COSIGN_PASSWORD}"
services:
  - docker
jobs:
  include:
    - stage: "sleep 109"
      script: bash docker-steps.sh && bash cosign-steps.sh

keys:
  - Art
